* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select,
  input {
    appearance: none !important;
    border-radius: 0;
}

/* Reset over */

body {
    background-color: #F7E4D4;   
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

section {
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}

h1 {
    font-weight: 400;
    font-family: 'EB Garamond', serif;
    color: #467745;
    margin-bottom: 20px;
}

h1,
input, 
textarea,
article {
    font-size: 16px;
    margin: 0 20px 25px 20px;
}

input {
    height: 64px;
    background-color: #fff;
}

textarea {
    height: 120px;
    background-color: #fff;
    padding-top: 20px;
}

textarea,
input,
textarea:focus, 
input:focus {
    color: #467745;
    letter-spacing: 1.2px;
    padding-left: 20px;
}

::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #9BB096;
}

article {
    position: relative;
}

#checkbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin: 0;
}

p {
    position: absolute;
    display: inline;
    top: 0;
    left: 40px;
    font-size: 16px;
    color: #467745;
    text-align: left;
}

p span {
    text-decoration: underline;
}

button {
    width: 280px;
    height: 80px;
    border-radius: 40px;
    background-color: #467745;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #F7E4D4;
    font-family: 'EB Garamond', serif;
    margin-top: 40px;
}

@media only screen and (min-width: 520px) {
    h1 {
        font-size: 48px;
        text-align: center;
    }
    section {
        max-width: 520px;
    }
    input,
    textarea,
    article {
        width: 480px;
    }
}

@media only screen and (max-width: 519px) {
    h1 {
        font-size: 36px;
        text-align: left;
    }
    section {
        width: 100%;
    }
    input,
    textarea,
    article {
        width: calc(100% - 40px);
    }
}